# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.bak

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
/.classpath
/.settings/*
clojure/*
tests/*
notes/*
Velka-src/*

#IDE settings preferences, etc.
velka.clojure/.settings/*
velka.compiler/.settings/*
velka.core/.settings/*
velka.parser/.settings/*
velka.test/.settings/*
velka.types/.settings/*
velka.util/.settings/*
/.metadata/
/Rerun ListNativeTest 20241231-060344.xml
/Test - All 20241223-142052.xml
/Test - All 20241228-135632.xml
/Test - All 20250106-060653.xml
/Test - All 20250107-085340.xml
/Test - All 20250131-152212.xml
/Test - All 20250201-162312.xml
/Test - All 20250206-154224.xml
/Test - All 20250303-092711.xml
/Test - All 20250303-140300.xml
/Test - All 20250305-134057.xml
